input {
  align-items: center;
  color: green!important;
}

.complete {
  text-decoration: line-through;
}

.list-group-item{
  color: indigo;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
