:root {
  --bg-box: #FEFDCE;
  --bg-hover: #F1EF90;
  --color-shadow: rgba(0, 0, 0, 0.4);
  --dark-primary: #282828;
  --dark-second: #383838;
  --red-rose: #cb0e40;
  --white: #ffffff;
}
.boxList {
  background-color: var(--bg-box);
  width: clamp(250px, 30%, 400px);
  height: 250px;
  padding: 1rem;
  box-shadow:
    8px 0 15px var(--color-shadow),
    -8px 0 15px var(--color-shadow),
    0 8px 15px var(--color-shadow);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  position: relative;
}

.boxList:hover,
.boxList:hover > textarea {
  background-color: var(--bg-hover);
}

.boxList p {
  color: var(--dark-primary);
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
  height: 4.5rem;
  margin-bottom: 0;
}

.boxList textarea {
  background-color: #FEFDCE;
  height: 80px;
  text-align: justify;
  border: none;
  font-style: italic;
  color: var(--dark-second);
}

.boxList textarea:focus {
  border: none;
  outline: none;
}

/* boton para elimina */
.button {
  margin: 0 auto 0 auto;
  border: 2px solid var(--dark-primary);
  border-radius: 5px;
  background-color: transparent;
  color: var(--dark-primary);
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}

.button:hover,
.button:hover > .trash {
  background-color: var(--white);
  border-color: var(--red-rose);
  color: var(--red-rose);
  fill: var(--red-rose);
}

.trash {
  width: 15px;
  fill: var(--dark-primary);
}
